<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Current Password Field (Required by Devise for Account Update) -->
  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "input" %>
  </div>

  <!-- Email Field -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <!-- Password Field -->
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
  </div>

  <!-- Password Confirmation Field -->
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <!-- Province Selection -->
  <div class="field">
    <%= f.label :province_id, "Province" %><br />
    <%= f.collection_select :province_id, Province.all, :id, :name, { include_blank: "Select Province" }, class: "select" %>
  </div>

  <!-- Address Fields (Multiple Addresses) -->
  <h3>Address Information</h3>
  <%= f.fields_for :addresses do |address_form| %>
    <div class="field">
      <%= address_form.label :street, "Street" %><br />
      <%= address_form.text_field :street, class: "input" %>
    </div>

    <div class="field">
      <%= address_form.label :city, "City" %><br />
      <%= address_form.text_field :city, class: "input" %>
    </div>

    <div class="field">
      <%= address_form.label :postal_code, "Postal Code" %><br />
      <%= address_form.text_field :postal_code, class: "input" %>
    </div>

    <!-- Add a delete option for each address -->
    <div class="field">
      <%= address_form.check_box :_destroy %>
      <%= address_form.label :_destroy, "Remove this address" %>
    </div>
  <% end %>

  <!-- Submit Button -->
  <div class="actions">
    <%= f.submit "Update", class: "button is-primary" %>
  </div>
<% end %>
