<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Email Field -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
  </div>

  <!-- Password Fields -->
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
  </div>

  <!-- Province Selection -->
  <div class="field">
    <%= f.label :province_id, "Province" %><br />
    <%= f.collection_select :province_id, Province.all, :id, :name, { include_blank: "Select Province" }, class: "select" %>
  </div>

  <!-- Address Information -->
  <h3>Address Information</h3>
  <div class="field">
    <%= f.label :street, "Street" %><br />
    <%= f.text_field :street, class: "input", value: resource.address&.street || '' %>
  </div>

  <div class="field">
    <%= f.label :city, "City" %><br />
    <%= f.text_field :city, class: "input", value: resource.address&.city || '' %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "Postal Code" %><br />
    <%= f.text_field :postal_code, class: "input", value: resource.address&.postal_code || '' %>
  </div>

  <!-- Submit Button -->
  <div class="actions">
    <%= f.submit "Sign up", class: "button is-primary" %>
  </div>
<% end %>
