<section class="section">
  <div class="container">
    <h1 class="title">All Movies</h1>

    <div class="columns is-multiline">
      <% @movies.each do |movie| %>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <% if movie.image.attached? %>
                  <%= image_tag movie.image.variant(resize_to_fill: [300, 500]).processed, class: "is-fullwidth" %>
                <% else %>
                  <%= image_tag "placeholder.png", size: "100x300", class: "is-fullwidth" %>
                <% end %>
              </figure>
            </div>

            <div class="card-content">
              <p class="title is-4"><%= link_to movie.title, movie_path(movie) %></p>
              <p class="subtitle is-6">Directed by <%= movie.director %></p>
              <p><strong>Price:</strong> $<%= number_to_currency(movie.price) %></p>
              <p><strong>Subgenres:</strong> <%= movie.subgenres.map(&:name).join(', ') %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
