<!DOCTYPE html>
<html>
  <head>
    <title>Brady's Frightful Flicks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to "Brady's Frightful Flicks", root_path, class: "navbar-item" %>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Movies", products_path, class: "navbar-item" %>
          <%= link_to "About", about_path, class: "navbar-item" %>
          <%= link_to "Contact", contact_path, class: "navbar-item" %>
        </div>
        <div class="navbar-end">
          <% if user_signed_in? %>
            <span class="navbar-item">Welcome, <%= current_user.email %></span>
            <div class="navbar-item">
              <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                <%= submit_tag "Logout", class: "button is-light" %>
              <% end %>
            </div>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "button is-light navbar-item" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button is-primary navbar-item" %>
          <% end %>
          <% if current_user.is_a?(AdminUser) %> <!-- Only show admin link to admin users -->
            <%= link_to "Admin", new_admin_user_session_path, class: "button is-warning navbar-item" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% if flash[:notice] %>
        <div class="notification is-primary">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="notification is-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
